# Ignore the target directory
/target/

# Ignore the Cargo.lock file if you're building a library
# Cargo.lock

# Ignore the .DS_Store file, which is created by macOS
.DS_Store

# Ignore the node_modules directory, which is created by npm
node_modules/

# Ignore the .idea directory, which is created by JetBrains IDEs
.idea/

# Ignore the .vscode directory, which is created by Visual Studio Code
.vscode/

# Ignore the .env file, which is used for environment variables
.env